server:
  port: 8084

spring:
  application:
    name: order-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yaml
  config:
    import:
      - nacos:order-service-dev.yaml?group=DEFAULT_GROUP

