server:
  port: 8084

spring:
  application:
    name: order-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yaml

# Feign配置
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000

# 日志配置
logging:
  level:
    com.zxx.learning: debug
    org.springframework.cloud: info
