server:
  port: 8083

spring:
  application:
    name: user-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yaml
  config:
    import:
      - nacos:user-service-dev.yaml?group=DEFAULT_GROUP

# 管理端点配置
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

# 日志配置
logging:
  level:
    com.zxx.learning: debug
    org.springframework.cloud: info
