server:
  port: 8085

spring:
  application:
    name: auth-service
  profiles:
    active: dev
  config:
    import:
      - nacos:auth-service-dev.yaml?group=DEFAULT_GROUP
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yaml

# 管理端点配置
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

# 日志配置
logging:
  level:
    com.zxx.learning: debug
    org.springframework.cloud: info
